USE [master]
GO
/****** Object:  Database [QKL]    Script Date: 8/20/2026 8:52:06 AM ******/
CREATE DATABASE [QKL]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QKL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QKL]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceipt]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceipt](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[ImportDate] [datetime] NULL,
	[SupplierId] [int] NOT NULL,
	[UsersId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportReceiptDetail]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportReceiptDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Amount]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
	[SellingPrice] [decimal](18, 0) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/20/2026 8:52:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [BrandName], [Country], [Description]) VALUES (1, N'Samsung', N'Hàn Quốc', N'Thương hiệu điện thoại Samsung')
INSERT [dbo].[Brand] ([BrandId], [BrandName], [Country], [Description]) VALUES (2, N'Apple', N'Mỹ', N'Thương hiệu Apple')
INSERT [dbo].[Brand] ([BrandId], [BrandName], [Country], [Description]) VALUES (3, N'Xiaomi', N'Trung Quốc', N'Thương hiệu Xiaomi')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Điện thoại')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Laptop')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Phụ kiện')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportReceipt] ON 

INSERT [dbo].[ImportReceipt] ([ReceiptId], [ImportDate], [SupplierId], [UsersId], [TotalAmount]) VALUES (1, CAST(N'2026-08-14T05:50:25.787' AS DateTime), 1, 1, CAST(270000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportReceipt] ([ReceiptId], [ImportDate], [SupplierId], [UsersId], [TotalAmount]) VALUES (2, CAST(N'2026-08-14T05:50:25.787' AS DateTime), 2, 2, CAST(250000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportReceipt] ([ReceiptId], [ImportDate], [SupplierId], [UsersId], [TotalAmount]) VALUES (3, CAST(N'2026-08-14T05:50:25.787' AS DateTime), 3, 1, CAST(50000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ImportReceipt] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportReceiptDetail] ON 

INSERT [dbo].[ImportReceiptDetail] ([DetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 10, CAST(18000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportReceiptDetail] ([DetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 1, 5, 30, CAST(300000.00 AS Decimal(18, 2)))
INSERT [dbo].[ImportReceiptDetail] ([DetailId], [ReceiptId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 2, 2, 10, CAST(25000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ImportReceiptDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryId], [ProductId], [Quantity], [LastUpdated]) VALUES (1, 1, 10, CAST(N'2026-08-20T03:34:56.330' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryId], [ProductId], [Quantity], [LastUpdated]) VALUES (2, 2, 15, CAST(N'2026-08-20T03:25:12.087' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryId], [ProductId], [Quantity], [LastUpdated]) VALUES (3, 3, 25, CAST(N'2026-08-14T05:50:25.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [BrandId], [CategoryId], [Unit], [ImportPrice], [SellingPrice], [Description]) VALUES (1, N'Samsung Galaxy S27', 1, 1, N'Cái', CAST(18000000.00 AS Decimal(18, 2)), CAST(21000000 AS Decimal(18, 0)), N'Điện thoại Samsung')
INSERT [dbo].[Product] ([ProductId], [ProductName], [BrandId], [CategoryId], [Unit], [ImportPrice], [SellingPrice], [Description]) VALUES (2, N'iPhone 17', 2, 1, N'Cái', CAST(25000000.00 AS Decimal(18, 2)), CAST(29000000 AS Decimal(18, 0)), N'Điện thoại Apple')
INSERT [dbo].[Product] ([ProductId], [ProductName], [BrandId], [CategoryId], [Unit], [ImportPrice], [SellingPrice], [Description]) VALUES (3, N'Redmi Note 17', 3, 1, N'Cái', CAST(5000000.00 AS Decimal(18, 2)), CAST(6500000 AS Decimal(18, 0)), N'Điện thoại Xiaomi')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [Phone], [Email]) VALUES (1, N'Công ty TNHH AAA', N'123 Nguyễn Huệ, TP.HCM', N'0909232323', N'aaa@gmail.com')
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [Phone], [Email]) VALUES (2, N'Công ty Minh Phát', N'45 Lê Lợi, TP.HCM', N'0909454545', N'minhphat@gmail.com')
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [Phone], [Email]) VALUES (3, N'Công ty Hoàng Long', N'88 Trần Phú, TP.HCM', N'0909565656', N'hoanglong@gmail.com')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UsersId], [FullName], [Email], [Phone], [Username], [Password], [Role]) VALUES (1, N'Hồ Đức Quý', N'quy@gmail.com', N'0909123456', N'admin', N'quy1234', N'Manager')
INSERT [dbo].[Users] ([UsersId], [FullName], [Email], [Phone], [Username], [Password], [Role]) VALUES (2, N'Huỳnh Hoàn Hào', N'hao@gmail.com', N'0934123456', N'employee1', N'2d1bae20', N'Employee')
INSERT [dbo].[Users] ([UsersId], [FullName], [Email], [Phone], [Username], [Password], [Role]) VALUES (3, N'Vũ Huynh', N'vuhuynh@gmail.com', N'0934275456', N'employee2', N'vu123', N'Employee')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Inventor__B40CC6CCB3A6A078]    Script Date: 8/20/2026 8:52:06 AM ******/
ALTER TABLE [dbo].[Inventory] ADD UNIQUE NONCLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4084B6D4D]    Script Date: 8/20/2026 8:52:06 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105340E557021]    Script Date: 8/20/2026 8:52:06 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImportReceipt] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[ImportReceipt] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[ImportReceipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Employee] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[ImportReceipt] CHECK CONSTRAINT [FK_Receipt_Employee]
GO
ALTER TABLE [dbo].[ImportReceipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[ImportReceipt] CHECK CONSTRAINT [FK_Receipt_Supplier]
GO
ALTER TABLE [dbo].[ImportReceiptDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ImportReceiptDetail]  WITH CHECK ADD FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[ImportReceipt] ([ReceiptId])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Employee' OR [Role]='Manager'))
GO
USE [master]
GO
